@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar but allow scrolling */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.footer-bg {
  background-color: #3f414f;
}

.footer-text {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 0.6;
  font-weight: 400;
  line-height: 18px;
}

.max-screen-width {
  max-width: 1080px;
}

.max-screen-pages-width {
  max-width: 65%;
}

.max-screen-width-dynamic {
  padding: 0 20px;
}

.home-text-color {
  color: rgb(70, 70, 70);
}

.green-color {
  color: #4fe18b;
  text-decoration-color: #4fe18b;
}

.home-button:hover {
  border-color: #22c55e;
}

.dynamic-button:hover {
  border-color: black;
}

.paragraph {
  margin-top: 1.5rem;
}
